<% layout('layouts/boilerplate') %>
<div class="card-container d-flex flex-direction: column">
  <div class="overflow-auto bg-light" style="max-height: 700px">
    <div
      class="dark-green d-flex justify-content-center align-items-center py-2"
    >
      <h4 class="text-white">Which Campsite is the best for you?</h4>
      <h3 class="ms-4">
        <a href="/campgrounds/new" class="text-white text-decoration-none"
          ><strong><i class="bi bi-plus-circle"></i></strong
        ></a>
      </h3>
    </div>

    <!-- <div class="my-1 me-3 d-flex justify-content-end">
    <a
      href="/campgrounds/new"
      class="btn btn-success text-decoration-none link-success"
      ><strong>Add Campsite</strong></a
    >
  </div> -->
    <% for(let campground of campgrounds) {%>
    <div class="card camp-card mb-3">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
          <img
            class="img-fluid card-img-top img-thumbnail card-image"
            src="<%= campground.images.length > 0 ? campground.images[0].url : ''%> "
            alt=""
          />
        </div>
        <div class="col-md-8 d-flex">
          <div class="card-body align-items-center d-flex">
            <div>
              <h5 class="card-title mt-2"><%= campground.title %></h5>
              <p class="card-text mb-1"><%= campground.description %></p>
              <p class="card-text">
                <small class="text-muted"><%= campground.location %></small>
              </p>
              <a
                class="stretched-link"
                href="/campgrounds/<%= campground._id %> "
              >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div id="cluster-map" class="mb-2"></div>
</div>

<a id="whyCamp"></a>
<div class="why-camp-wrap d-flex">
  <div class="why-camp text-white d-flex flex-direction: row text-center">
    <div class="camping-reasons">
      <h2 class="mt-4">why is camping good for you?</h2>
      <p id="coinGecko">
        <script>
          axios
            .get(
              "https://api.coingecko.com/api/v3/simple/price?ids=binaryx,cyberdragon-gold&vs_currencies=usd"
            )
            .then((res) => {
              // console.log("RESPONSE: ", res);
              // console.log("RESPONSE DATA: ", res.data);
              document.getElementById("coinGecko").innerHTML =
                res.data.binaryx.usd;
            });
        </script>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        facilis, aperiam esse, ducimus ipsa sint incidunt nisi cupiditate
        dolorum, quae illo blanditiis architecto sapiente asperiores repellat
        amet nihil itaque libero?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        facilis, aperiam esse, ducimus ipsa sint incidunt nisi cupiditate
        dolorum, quae illo blanditiis architecto sapiente asperiores repellat
        amet nihil itaque libero?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        facilis, aperiam esse, ducimus ipsa sint incidunt nisi cupiditate
        dolorum, quae illo blanditiis architecto sapiente asperiores repellat
        amet nihil itaque libero?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        facilis, aperiam esse, ducimus ipsa sint incidunt nisi cupiditate
        dolorum, quae illo blanditiis architecto sapiente asperiores repellat
        amet nihil itaque libero?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        facilis, aperiam esse, ducimus ipsa sint incidunt nisi cupiditate
        dolorum, quae illo blanditiis architecto sapiente asperiores repellat
        amet nihil itaque libero?
      </p>
    </div>
  </div>
</div>

<div class="footer-top"></div>
<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campgrounds = {features: <%-JSON.stringify(campgrounds)%>};
</script>

<script src="/javascripts/clusterMap.js"></script>
